<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-card *ngIf = "isThereOpenCompartment">
		<ion-card-header color="danger">
			OPEN COMPARTMENTS!
		</ion-card-header>

		<ion-card-content>
			<p>Please close {{openCompartments.join()}} Compartment/s</p>
		</ion-card-content>
	</ion-card>
	<ion-card *ngFor="let n of notifs">
		<ion-card-header color="{{n.color}}">
			{{n.status}}: {{n.time + ":00"}}
		</ion-card-header>

		<ion-card-content>
			<h2 *ngFor="let item of medication[n.medication] | values">
				{{item}}
			</h2>
		</ion-card-content>
	</ion-card>
</ion-content>
